*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 50px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.nav{
    display: flex;
    gap: 10px;
}

.hero{
    display: flex;
    padding: 50px 100px;
    background-color: #1F2937;
    color: white;
}

.hero-content{
    width: 300px;
}

.hero h2{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
    line-height: 1;
    margin-bottom: 8px;
}

.hero-image{
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    margin-left: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px 40px;
    padding-bottom: 60px;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 30px;

}

.box{
    width: 75px;
    font-size: 13px;
    flex: 1;
    justify-content: space-evenly;
}

.box-outline{
    width: 70px;
    height: 70px;
    border: 2px solid blue;
    margin-bottom: 10px;;
    border-radius: 10px;
}

.quotes{
    background-color: #E5E7EB;
    padding: 70px;
}

.quote{
    display: flex;
    flex-direction: column;
}

.author-name{
    align-self: flex-end;
    margin-top: 10px;
    font-weight: 900;
}

.action{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box{
    background-color: #3882F6;
    padding: 30px 200px;
    display: flex;
    justify-content: space-evenly;
}

button{
    background-color: #3882F6;
    padding: 5px;
    border-radius: 7px;
    color: white;
    margin-top: 10px;
}