*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.container{
 border: 3px solid black;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px 20px;
}

.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-section{
    display: flex;
    padding: 30px 20px;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
}

.hero-text{
    width: 350px;
}

.hero-section h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-bottom: 10px;
}

.hero-section h3{
    color: white;
    margin-bottom: 10px;
}

.hero-section button{
    background-color: #3882f6;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.hero-image{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    justify-content: space-around;
    flex-shrink: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box{
    width: 50px;
    height: 50px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.quotes{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.quotes, .author{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.author{
    align-self: flex-end;
}

.action{
    padding: 70px;
}

.action-box{
    background-color: #3882f6;
    border-radius: 10px;
    padding: 40px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action button{
    border: 1px solid white;
    background-color: #3882f6;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
}

.action-text h4{
    margin-bottom: 7px;
}

footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}